.no-hc {
  forced-color-adjust: none;
}


.btn {
  background-color: red;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid green;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  border-color: green;
}

body {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
